@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    /* colors */
    --bg-color: #141313;
    --text-primary-color: #f1f1f1;
    --text-secondary-color: #cfcfcf;
    --dark-accent: #0d0b0b;
    --light-accent: #f1f1f1;

    /* border */
    --def-width: 3px;
}

@layer base{
    /*font faces*/
    @font-face {
        font-family: 'Videotype';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url("./fonts/Videotype.ttf") format("truetype");
    }
    @font-face {
        font-family: 'Daydream';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url("./fonts/Daydream.ttf") format("truetype");
    }
    @font-face {
        font-family: 'November';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url("./fonts/November.ttf") format("truetype");
    }
    /*variable fonts*/
    @font-face {
        font-family: 'Inter';
        src: url('./fonts/Inter.woff2') format('woff2-variations');
        font-weight: 100 900;
        font-display: swap;
    }

    /* global attributes */
    html{
        @apply bg-bg-color text-text-primary-color font-sans
    }
    body{
        @apply max-w-[70rem] m-auto h-screen text-xl
    }
    main{
        @apply pb-24
    }

    /*global classes*/
    .container{
        @apply border-def-width bg-dark-accent border-light-accent
    }
    .main-text{
        @apply text-[7.5rem] leading-tight font-daydream
    }
    .h1{
        @apply text-6xl font-black;
    }
    .h2{
        @apply text-4xl font-bold
    }
    .h3{
        @apply text-2xl font-bold
    }


    .chessboard-bg{
        /* in order to change a size of bg pixels add backgroundSize to an object */
        background:
                repeating-conic-gradient(var(--light-accent) 0% 25%, transparent 0% 50%)
                50% / 10px 10px
    }


    .scrollbar {
        --sb-track-color: var(--bg-color);
        --sb-thumb-color: var(--light-accent);
        --sb-size: 15px;
    }

    .scrollbar::-webkit-scrollbar {
        width: var(--sb-size);
        height: var(--sb-size);
    }

    .scrollbar::-webkit-scrollbar-track {
        background: var(--sb-track-color);
        border: 2px solid var(--sb-thumb-color);
        border-radius: 1px;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: var(--sb-thumb-color);
    }

    @supports not selector(::-webkit-scrollbar) {
        body {
            scrollbar-color: var(--sb-thumb-color)
            var(--sb-track-color);
        }
    }


    /*post content styles*/
    .post-content{
        font-family: "Inter", sans-serif;
        font-weight: 350;
    }
    .post-content h1{
        @apply font-sans text-5xl font-bold mb-4;
    }
    .post-content h2{
        @apply font-sans text-3xl mb-2;
    }
    .post-content p+h1, p+h2{
        @apply mt-8;
    }
    .post-content strong{
        font-weight: 800;
    }
    .post-content ul ul,
    .post-content ul ol,
    .post-content ol ul,
    .post-content ol ol {
        @apply ml-6;
    }
    .post-content ul+ol, ol+ul, ul+ul, ol+ol{
        @apply mt-4;
    }
    .post-content ul, ol{
        list-style-position: inside;
        @apply my-2 ml-2
    }
    .post-content ul{
        list-style-type: square;
    }
    .post-content ol{
        list-style-type: decimal;
    }
    .post-content .astro-code{
        @apply my-6 px-6 py-10 text-xl
    }
    .post-content p code{
        background-color:#191724;
        color:#e0def4;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        overflow-x: auto;
        padding: 0.25rem 0.5rem;
        white-space: pre-wrap;
        word-wrap: break-word;
        vertical-align: middle;
    }
    .post-content p img{
        @apply w-full
    }
    .post-content table{
        @apply my-6 w-full
    }
    .post-content table, tr, th, td{
        @apply border-2 px-4 py-2
    }
    .post-content table thead{
        @apply bg-dark-accent
    }
    .post-content .two-column {
        @apply flex my-2 gap-1;
    }
    .post-content .two-column section{
        @apply flex-1;
    }
    .post-content a{
        @apply font-[400] text-[#e0def4] underline
    }
    .post-content a:hover{
        color: #f1f1fd;
    }
}