---
//libraries import
import { Image } from 'astro:assets';
//layouts import
import MainLayout from '../layouts/MainLayout.astro';
//component import
import Icon from '../components/Icon.astro'


 // The attributes you want to add
const attributes = { width: "500", height: "500", fill: "white" };
---

<MainLayout title="Welcome to Astro.">
	<div class="mt-4 flex gap-[5%]">
		<div class="w-[50%] flex flex-col justify-center">
			<h1 class="main-text">Math Blog</h1>
			<h2 class="text-text-secondary-color mt-3 h2">Created by Shunji and EventfulLynx915</h2>
		</div>
		<Image
			width={400}
			height={400}
			src="/images/mainpage_preview.gif"
			alt="sorry, I was forced to put it here"
			class="w-[45%] aspect-square object-cover object-top"
			loading="eager"
		/>
	</div>
	<Icon icon="search" {...attributes} />
</MainLayout>
