---
//libraries import
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
//utils import
import { formatBlogPosts } from "../ts/utils";
//layouts import
import MainLayout from '../layouts/MainLayout.astro';
//component import
import QuickActions from '../components/pageParts/QuickActions.astro';
import PostCard from "../components/PostCard.astro"



const limit = 4;
const blogEntries = await getCollection("blog");
const formatedPosts = formatBlogPosts(blogEntries, {
	limit: limit,
});


function getTextBasedOnLimit(): string{
	if(limit == 1){
		return "Last post:"
	}
	else if(limit > formatedPosts.length){
		return `Last ${formatedPosts.length} posts:`;
	}
	else{
		return `Last ${limit} posts:`;
	}
}
---

<MainLayout title="Math Blog">
	<section class="mt-4 flex gap-[5%]">
		<div class="w-[50%] flex flex-col justify-center z-[1]">
			<h1 class="main-text">Math Blog</h1>
			<h2 class="text-text-secondary-color mt-3 h2">Created by Shunji and EventfulLynx915</h2>
		</div>
		<Image
			width={400}
			height={400}
			src="/images/tool.png"
			alt="sorry, I was forced to put it here"
			class="w-[45%] aspect-square object-cover object-top z-0"
			loading="eager"
		/>
	</section>
	<QuickActions />
	<section class="mt-14">
		<h3 class="h1 mb-5">{getTextBasedOnLimit()}</h3>
		<div class="scrollbar w-full pb-6 flex flex-nowrap gap-10 overflow-x-auto">
			{
				formatedPosts.map((post) => <PostCard post={post} />)
			}
		</div>
	</section>
</MainLayout>

