---
//component imports
import Icon from "./Icon.astro";


interface Props{
    text: string;
    href: string;
    icon?: {
        name: string;
        side: "left" | "right";
    };
    isFilled?: boolean;
    borderVisible?: boolean;
    class?: string;
}

const {
    text,
    href,
    icon,
    isFilled = false,
    borderVisible = false,
    class: className ="",
    ...rest //additional props that can be passed in
} = Astro.props as Props;


const attributes = {width: "26", height: "26", fill: "white"};
---

<a
href={href}
class:list ={[
        "link",
        className,
        { filled: isFilled, bordered: borderVisible}
    ]}
    {...rest}
>
    {
        icon && icon.side === "left" && (
            <Icon icon={icon.name} {...attributes} />
        )
    }
    <span>{text}</span>
    {
         icon && icon.side === "right" && (
            <Icon icon={icon.name} {...attributes}/>
        )
    }
</a>

<style>
    /*text-[#525257]*/
    .link {
        @apply p-1 relative inline-flex justify-between items-center;
    }
     .bordered{
        @apply border-2 px-5 font-medium;
     }
     .filled{
         @apply bg-light-accent text-black px-4 font-bold
     }
    .container{
        @apply p-4
    }
</style>