---
//implement search logic later

//components import
import Icon from "./Icon.astro";


interface Props{
    class?: string
}
const { class: className = "" } = Astro.props as Props;

const attributes = {width: "37", height: "37", fill: "white"};
---

<div class:list={[
    className,
    "inline-flex items-center justify-between"
]}>
    <input class="h-full w-full bg-dark-accent" />
    <div class="mx-2">
        <Icon icon="search" {...attributes} />
    </div>
</div>