---
//ts import
import navData from "../../ts/navData";
import Link from "../Link.astro";
import Search from "../Search.astro";


const modifiedNavData = navData.filter((data) => data.path !== Astro.url.pathname );
---
<section class="relative mt-3">
    <h3 class="h3 mb-2">Quick actions:</h3>
    <div class="h-fit w-full inline-flex justify-between gap-4">
        <div class="w-[65%] inline-flex">
        {modifiedNavData.map((item) => (
            <Link
                    href={item.path}
                    text={item.name}
                    class="block container"
                    icon={{
                        name: "arrow_up",
                        side: "right"
                    }}
            />
        ))}
        </div>
        <Search class="w-[35%] container" />
    </div>
</section>